<form [formGroup]="userAddForm" (ngSubmit)="addUser()" class="w-50">
  <div class="mb-3 row">
    <label for="firstname" class="col-lg-4 col-form-label">Eesnimi:</label>
    <div class="col-lg-8">
      <input type="text" class="form-control" id="firstname" formControlName="firstname">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="lastname" class="col-lg-4 col-form-label">Perenimi:</label>
    <div class="col-lg-8">
      <input type="text" class="form-control" id="lastname" formControlName="lastname">
    </div>
  </div>

  <div class="mb-3 row">
    <label for="personalCode" class="col-lg-4 col-form-label">Isikukood:</label>
    <div class="col-lg-8">
      <input type="text" class="form-control" id="personalCode" formControlName="personalCode">
      <div *ngIf="userAddForm.controls.personalCode.invalid
                  && (userAddForm.controls.personalCode.dirty || userAddForm.controls.personalCode.touched)"
           class="text-danger mt-2 fw-bold">
        <div *ngIf="userAddForm.controls.personalCode.errors?.['invalidPersonalCode']">
          Vale isikukood
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="paymentMethod" class="col-lg-4 col-form-label">Maksmisviis:</label>
    <div class="col-lg-8">
      <select class="form-select" aria-label="paymentMethod" id="paymentMethod" formControlName="paymentMethod">
        <option value="BANK_TRANSFER">Pangaülekanne</option>
        <option value="CASH">Sularaha</option>
      </select>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="info" class="col-lg-4 col-form-label">Lisainfo:</label>
    <div class="col-lg-8">
      <textarea [maxLength]="1000" class="form-control" id="info" rows="3" formControlName="info"></textarea>
    </div>
  </div>

  <div class="form-buttons d-flex">
    <a *ngIf="!userInvitation" class="btn back-btn" routerLink="">Tagasi</a>
    <a *ngIf="userInvitation" class="btn back-btn" (click)="backToEventPage()">Tagasi</a>
    <button type="submit" class="btn save-btn">Salvesta</button>
  </div>
</form>
