/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --main-color: #ffffff;
  --secondary-color: #eff2f4;
  --blue-color: #005aa1;
}

body {
  background-color: var(--secondary-color);
  font-family: 'Open Sans', sans-serif;
}
