<nav class="navbar">
  <div class="container">
    <div class="navbar-brand" routerLink="">
      <img src="assets/logo.svg" alt="logo">
    </div>

    <div class="navbar-items">
      <div class="main-page-btn btn-selected" routerLink="">
        <a>Avaleht</a>
      </div>
      <div class="event-add-btn" routerLink="">
        <a>Ürituse lisamine</a>
      </div>
    </div>

    <div class="navbar-symbol">
      <img src="assets/symbol.svg" alt="logo" width="60px" height="60px">
    </div>

  </div>
</nav>
