nav {
  padding: 0;
  margin: 20px 0;

  .container {
    background-color: white;
    height: 80px;
  }

  .navbar-symbol {
    text-align: end;
  }

  .navbar-items {
    display: flex;
    margin-right: auto;

    height: 80px;

    div {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #424242;
    }

    a {
      font-size: 12px;
      line-height: 25px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 15px;
      color: #424242;
      text-decoration: none;
    }
  }
}

.btn-selected {
  background-color: var(--blue-color);
  a {
    color: var(--main-color) !important;
  }
}

@media (max-width: 767px) {
  nav {
    .navbar-symbol {
      display: none !important;
    }

    .container {
      padding: 0;
    }

    .navbar-items {
      justify-content: end;
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 425px) {
  nav {
    margin-top: 0;
    img {
      width: 120px;
    }

    .navbar-items {
      a {
        padding: 0 5px !important;
      }
    }
  }
}
