<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mb-md-2 mb-lg-0 mb-sm-2">
        <h5>Curabitur</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link">Emauris</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Kfringilla</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Oin magna sem</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Kelementum</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-md-2 mb-lg-0 mb-sm-2">
        <h5>Fusce</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link">Econsectetur</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Ksollicitudin</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Omvulputate</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Nunc fringilla tellu</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mb-sm-2">
        <h5>Kontakt</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><span>Peakontor: Tallinnas</span></li>
          <li class="nav-item"><a href="#" class="nav-link">Väike- Ameerika 1, 11415 Tallinn</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Telefon: 605 4450</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Faks: 605 3186</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-md-auto mb-md-2">
        <ul class="nav flex-column">
          <li class="nav-item"><span>Harukontor: Võrus</span></li>
          <li class="nav-item"><a href="#" class="nav-link">Oja tn 7 (külastusaadress)</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Telefon: 605 3330</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Faks: 605 3155</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
